@import "../../../styles/variables";

.form__field {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 1.125rem;

    .form__select {
        margin-top: 8px;
        grid-column: span 2 / span 2;
        overflow: hidden !important;
        width: 100%;
        text-overflow: ellipsis;
    }

    .form__error {
        text-align: right;
        color: $red;
    }
}