@import '../../../styles/mixins';

.footer {
    padding: 2.5rem 0;
    .container {
        display: flex;
        justify-content: center;
    }
    &__about {
        display: block;
        text-align: center;
    }
}

@include md {
    .footer {
        padding: 1.5rem 0;
    }
}
