@import '../../../styles/mixins';

.footer {
    padding: 7.5rem 0 2.5rem;
    .container {
        display: flex;
        justify-content: center;
    }
    &__about {
        display: block;
        text-align: center;
    }
}

@include md {
    .footer {
        padding: 5rem 0 2rem;
    }
}