@use 'sass:math';
@import "../../../styles/mixins";

.thanks { 
    text-align: center;
    &__title {
        text-align: center;
        margin-bottom: math.div(64, 48) * 1em;
    }
    .card {
        margin: 0 auto;
        max-width: 545px;
        padding: 12px 30px 20px;
        display: flex;
        flex-direction: column;
        font-size: 1.25rem;
        &__title, &__subtitle {
            margin-bottom: 9px;
        }
        &__img {
            object-fit: contain;
            height: 260px;
        }
        &__about {
            margin: 20px 0;
        }
        span {
            display: block;
            font-weight: 600;
        }
    }
}

@include xs {
    .thanks {
        .card {
            padding: 12px 20px 14px;
        }
    }
}

