// ---- Variables for Swiper ----
:root {
    --main-color: $purple;
    --swiper-navigation-size: 34px !important;
    --swiper-navigation-sides-offset: 5px;
    --swiper-pagination-color: #704D9C;
    --swiper-navigation-color: var(--main-color);
}