// ---- Fonts ----
$fontFamily: 'Raleway', sans-serif;

// ---- TRANSITION Effects ----
$transitionFunc: ease;
$transitionTime: .4s;

// ---- MAIN Colors ----
$white: #fff;
$black: #333333;
$red: #CE1B1B;

// ---- PURPLE Colors ----
$brightPurple: #CBB9E2;
$lightPurple: #B997E2;
$purple: #704D9C;
$deepPurple: #5A4773;
$darkPurple: #391763;

// ---- GREEN Colors ----
$lightGreen: #94E1A0;
$green: #7DCA89;
$deepGreen: #7A9C91;

:export {
    white: $white;
    black: $black;
    red: $red;
    purple: $purple;
}
