@include onLaptopLarge {
    .container {
        width: 940px;
    }

    section {
        padding-top: 68px;
    }

    .discount {
        &__subtitle {
            grid-column: 1 / 7;
        }

        &__desc {
            grid-column: 1 / 7;
        }

        &__order {
            grid-column: 1 / 7;
        }

        .timer {
            grid-column: 7 / 13;
        }
    }

}

@include onLaptop {
    html {
        font-size: 15px;
    }

    .container {
        width: 720px;
    }

    .header {
        .menu {
            &__item {
                display: flex;
            }

            &__arrow {
                margin-left: 0.6em;
                margin-top: 1px;
            }
        }
    }

    .about {
        .info {
            grid-column: 2 / 12;
        }

        &__map {
            margin-top: 1.875rem;
            grid-column: 2 / 12;
            height: 280px;
        }
    }

    .discount {
        .discount__title {
            margin-bottom: math.div(8, 48) * 1em;
        }

        &__subtitle {
            grid-column: 1 / 13;
            grid-row-start: 3;
            justify-self: center;
        }

        &__desc {
            grid-column: 1 / 13;
            grid-row-start: 2;
            justify-self: center;
            font-size: 1.25rem;
            margin-bottom: 1.3em;
        }

        &__order {
            justify-self: center;
            grid-column: 1 / 13;
        }

        .timer {
            grid-row-start: 4;
            grid-column: 1 / 13;
            justify-self: center;
            margin: 1.2rem;
        }
    }

    .works {
        .slider__info {
            padding-left: 36px;
        }
    }

    .how {
        &__item {
            grid-column: 1 / 3;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .order {
        .order-form {
            row-gap: 1.375rem;

            &__tile {
                &:nth-of-type(1) {
                    grid-column: 1 / 7;
                }

                &:nth-of-type(2) {
                    grid-column: 7 / 13;
                }

                &:nth-of-type(3) {
                    grid-column: 4 / 10;
                }
            }

            &__btn {
                margin-top: 1.2rem;
            }
        }
    }

    .footer {
        padding: 5rem 0 2rem;
    }
}

@include onTablet {
    html {
        font-size: 14px;
    }

    .container {
        width: 540px;
    }

    .header {
        .menu {
            font-size: 1.3rem;

            &__burger {
                margin-right: 0;
                width: 30px;
                height: 20px;

                &::before,
                span,
                &::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: $purple;
                    display: block;
                    transition: all $transitionTime $transitionFunc;
                    border-radius: 3px;
                }

                &::before {
                    top: 0;
                }

                span {
                    top: 50%;
                    transform: scale(1) translateY(-50%);
                }

                &::after {
                    bottom: 0;
                }
            }

            &__arrow {
                display: none;
            }

            &__list {
                padding: 1.5rem;
                flex-direction: column;
                row-gap: 2em;
                position: fixed;
                background-color: $brightPurple;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 2;
                justify-content: initial;
                visibility: hidden;
                opacity: 0;
                transform: translateX(-100%);
                transition: all $transitionTime $transitionFunc;
            }

            &__item {
                display: initial;
                padding: initial;
            }

            &.opened {
                .menu__list {
                    visibility: visible;
                    opacity: 1;
                    transform: translateX(0);
                }

                .menu__burger {
                    position: fixed;
                    z-index: 5;
                    top: 1.5rem;
                    right: 1.5rem;

                    &::before {
                        top: 8px;
                        transform: rotate(-45deg);
                    }

                    span {
                        transform: scale(0);
                    }

                    &::after {
                        bottom: 9px;
                        transform: rotate(45deg);
                    }
                }
            }

            .container {
                justify-content: initial;
            }
        }

        .submenu__list {
            margin: 1em 0 0 2em;
            transform: translateY(0);
            z-index: initial;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }

        .social__link {
            width: 30px;
            height: 30px;
            margin-right: 1em;
            margin-left: auto;
        }
    }

    .works {
        .slider {
            align-items: stretch;

            &__img {
                object-fit: cover;
            }
        }
    }

    .how {
        &__item {
            width: 30%;
        }
    }

    .order {
        .order-form {
            &__tile {
                &:nth-of-type(1) {
                    grid-column: 3 / 11;
                }

                &:nth-of-type(2) {
                    grid-column: 3 / 11;
                }

                &:nth-of-type(3) {
                    grid-column: 3 / 11;
                }
            }
        }
    }

}

@include onMobile {
    .container {
        width: 90%;
    }

    .header {
        .info {
            .container {
                column-gap: 2rem;
            }
        }
    }

    .about {
        .info {
            text-align: center;
            grid-column: 1 / 13;
            padding: 20px;

            &__contacts {
                row-gap: 8px;
                flex-direction: column;
            }
        }

        .timetable {
            grid-template-columns: 1fr;
            justify-items: center;

            span:nth-of-type(2n + 1):not(:nth-child(1)) {
                margin-top: 15px;
            }
        }

        &__map {
            grid-column: 1 / 13;
        }
    }

    .discount {
        &__desc {
            text-align: center;
        }

        .timer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5em;

            &__field {}
        }
    }

    .works {
        .slider {
            &__info {
                padding: 20px;
                z-index: 2;
                background-color: rgba(255, 255, 255, 0.75);
            }

            &__img {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }

    .how {
        &__list {
            row-gap: 2rem;
        }

        &__item {
            padding: 10px;
            width: 50%;
        }
    }

    .order {
        .order-form {
            &__tile {
                &:nth-of-type(1) {
                    grid-column: 1 / 13;
                }

                &:nth-of-type(2) {
                    grid-column: 1 / 13;
                }

                &:nth-of-type(3) {
                    grid-column: 1 / 13;
                }
            }
        }
    }

    .result {
        .tile {
            padding: 12px 20px 14px;
            text-align: center;

            &__img {
                grid-column: 1 / 3;
            }

            &__list {
                margin: 1.5rem 0;
                grid-column: 1 / 3;
            }

            &__about {
                margin: 1rem 0;
                grid-row: 3 / 4;
            }
        }
    }

    .thanks {
        .tile {
            padding: 12px 20px 14px;
        }
    }

    .check {
        .tile {
            padding: 12px 20px 14px;
        }
    }

    .modal {
        padding: 15px;

        .tile {
            padding: 12px 20px 14px;
        }
    }
}