@import "../../../styles/variables";

.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    gap: 1em;
    padding: 5%;
    opacity: 0;
    visibility: hidden;
    transition: opacity $transitionTime $transitionFunc;
    backdrop-filter: blur(2px) brightness(0.93);
    pointer-events: none;

    &.opened {
        visibility: visible;
        pointer-events: all;
        opacity: 1;
    }
}