@use 'sass:math';
@import '../../../../../styles/variables';

.check {
    &__title {
        text-align: center;
        margin-bottom: math.div(64, 48) * 1em;
    }

    .card {
        margin: 0 auto;
    }

    .form {
        display: flex;
        flex-direction: column;

        &__loader {
            display: flex !important;
            align-items: center;
            justify-content: center;
        }

        &__field:not(:first-of-type) {
            margin-top: 18px;
        }

        button {
            margin-top: 22px;
        }
    }
}
