@use 'sass:math';
@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

.discount {
    .grid {
        align-items: center;
        justify-items: left;
    }

    &__title {
        text-align: center;
        justify-self: center;
        margin-bottom: 0.95em;
        grid-column: 1 / 13;
    }

    &__subtitle {
        font-weight: 500;
        grid-column: 2 / 7;
    }

    &__desc {
        margin-block: 7px 12px;
        grid-column: 2 / 7;
    }

    &__order {
        align-self: end;
        grid-column: 2 / 7;
    }
}

@include lg {
    .discount {
        &__subtitle {
            grid-column: 1 / 7;
        }

        &__desc {
            grid-column: 1 / 7;
        }

        &__order {
            grid-column: 1 / 7;
        }
    }
}

@include md {
    .discount {
        .discount__title {
            margin-bottom: math.div(8, 48) * 1em;
        }

        &__subtitle {
            grid-column: 1 / 13;
            grid-row-start: 3;
            justify-self: center;
            text-align: center;
        }

        &__desc {
            grid-column: 1 / 13;
            grid-row-start: 2;
            justify-self: center;
            font-size: 1.25rem;
            margin: 0;
            margin-bottom: 1.3em;
        }

        &__order {
            justify-self: center;
            grid-column: 1 / 13;
        }
    }
}

@include xs {
    .discount {
        &__desc {
            text-align: center;
        }
    }
}
