.about {
    .grid {
        align-items: stretch;
        justify-items: stretch;
    }
    
    &__title {
        margin-bottom: math.div(8, 48) * 1em;
    }

    &__subtitle {
        font-size: 20px;
        margin-bottom: math.div(26, 20) * 1em;
    }

    &__title,
    &__subtitle {
        grid-column: 1 / 13;
        text-align: center;
    }

    .info {
        background-color: $white;
        border-radius: 25px;
        grid-column: 1 / 7;
        padding: 24px;
        font-size: 18px;

        &__title {
            margin-bottom: math.div(8, 36) * 1em;
            &:nth-of-type(even) {
                margin-top: 30px;
            }
        }

        &__address {
            display: block;
            margin-bottom: 12px;
            @include purpleClickable('transparent');
        }

        &__contacts {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .timetable {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .timetable>*:nth-child(even) {
        text-align: right;
    }

    &__map {
        border-radius: 25px;
        grid-column: 7 / 13;
    }
}