.check {
    &__title {
        text-align: center;
        margin-bottom: math.div(64, 48) * 1em;
    }

    .check-form {
        margin: 0 auto;
        max-width: 545px;

        &__tile {
            display: flex;
            flex-direction: column;
            padding: 12px 30px 20px;
        }

        &__label:not(:first-of-type) {
            margin-top: 18px;
        }

        &__title {
            margin-bottom: 10px;
            text-align: center;
        }

        &__btn {
            margin-top: 22px;
        }
    }
}