.discount {
    .grid {
        align-items: center;
        justify-items: left;
    }
    &__title {
        text-align: center;
        justify-self: center;
        margin-bottom: 0.95em;
        grid-column: 1 / 13;
    }
    &__subtitle {
        font-weight: 500;
        grid-column: 2 / 7;
    }
    &__desc {
        grid-column: 2 / 7;
    }
    &__order {
        align-self: end;
        grid-column: 2 / 7;
    }
    .timer {
        display: flex;
        gap: 1.7em;
        justify-self: right;
        grid-column: 7 / 12;
        grid-row: 2 / 5;
    }
    .timer__field {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .timer__count {
        width: 5.375rem;
        background-color: $white;
        font-weight: 500;
        font-size: 3rem;
        padding: 1.25rem 0.875rem;
        border-radius: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .timer__label {
        margin-top: 3px;
    }
}