.header {
    .info {
        .container {
            min-height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .social__link {
        display: flex;
        align-items: center;
    }

    .menu {
        background-color: $white;

        .container {
            min-height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__list {
            flex-grow: 2;
            list-style: none;
            display: flex;
            justify-content: space-evenly;
        }

        &__item {
            padding: 20px 5px;

            &:hover {
                .submenu__list {
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                    pointer-events: all;
                }
            }
        }

        &__link {
            &.active {
                font-weight: 500;
            }
            @include purpleClickable('transparent');
        }
    }

    @media (min-width: 768px) {
        .submenu__list {
            padding: 1em;
            border-radius: 20px;
            box-shadow: 0 0 15px 5px #00000036;
            top: 110%;
            position: absolute;
            transform: translateY(-20%);
            background-color: $white;
        }
    }

    .submenu__list {
        z-index: 5;
        list-style: none;
        white-space: nowrap;
        transition: all $transitionTime $transitionFunc;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        row-gap: 1em;
    }

    .submenu__item {
        @include purpleClickable('transparent');
    }
}