.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    background-color: rgba(0, 0, 0, .5);

    &-form {
        width: 545px;
    }
    
    &__tile {
        display: flex;
        flex-direction: column;
        padding: 12px 30px 20px;
    }

    &__title {
        margin-bottom: 9px;
        text-align: center;
    }

    &__label:not(:first-of-type) {
        margin-top: 16px;
    }

    &__btn {
        margin-top: 22px;
    }
}