@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

html {
  font-family: "Raleway", sans-serif;
  font-variant-numeric: lining-nums;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
}

body {
  color: #704D9C;
  background-color: #CBB9E2;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #5A4773;
}

h1 {
  font-size: 3rem;
  color: #391763;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

a,
button {
  transition: all 0.4s ease;
  font-family: inherit;
  cursor: pointer;
}

a,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

select,
input {
  font-family: inherit;
  font-variant-numeric: inherit;
}

address {
  font-style: normal;
}

section {
  padding-top: 74px;
}

.btn {
  display: block;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  padding: 10px 26px;
  transition: all 0.4s ease;
}
.btn:hover {
  transform: translateY(-3px);
}
.btn:active {
  transform: translateY(3px);
}
.btn_green {
  color: #fff;
  background-color: #7DCA89;
}
.btn_green:hover {
  color: #fff;
  background-color: #94E1A0;
}
.btn_green:active {
  color: #fff;
  background-color: #7A9C91;
}
.btn_purple {
  color: #fff;
  background-color: #704D9C;
}
.btn_purple:hover {
  color: #fff;
  background-color: #B997E2;
}
.btn_purple:active {
  color: #fff;
  background-color: #5A4773;
}

.tile {
  background-color: #fff;
  border-radius: 30px;
}

.form__input,
.form__select {
  border-radius: 20px;
  border: 1px solid #704D9C;
  padding: 7px 16px;
  font-size: 18px;
  font-weight: 500;
  color: #704D9C;
}
.form__input:active, .form__input:focus,
.form__select:active,
.form__select:focus {
  color: #391763;
  border-color: #391763;
  outline: 1px solid #391763;
}
.form__input::-moz-placeholder, .form__select::-moz-placeholder {
  color: #B997E2;
}
.form__input::placeholder,
.form__select::placeholder {
  color: #B997E2;
}

.form__select {
  padding: 6px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url("../img/polygon.svg"), linear-gradient(to right, #704D9C, #704D9C);
  background-repeat: no-repeat;
  background-position: right 0.7777777778em top 50%, right 38px top 0;
  background-size: 0.6666666667em 0.6666666667em, 1px;
}
.form__select:active, .form__select:focus {
  background-image: url("../img/polygon-bold.svg"), linear-gradient(to right, #704D9C, #704D9C);
  background-size: 0.6666666667em 0.6666666667em, 2px;
}

.form__label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 18px;
}
.form__label input,
.form__label select {
  margin-top: 8px;
  grid-row-start: 2;
  grid-column: 1/3;
}
.form__label-error {
  text-align: right;
  color: #CE1B1B;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}

.header .info .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.header .nav {
  background-color: #fff;
  padding: 3px 0;
}
.header .logo__link {
  grid-column-start: 1;
  grid-column-end: 3;
}
.header .menu {
  list-style: none;
  grid-column: 3/12;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header .menu__item {
  transition: all 0.4s ease;
}
.header .menu__item:hover {
  transform: translateY(-3px);
}
.header .menu__item:active {
  transform: translateY(3px);
}
.header .menu__link.active {
  font-weight: 600;
}
.header .menu__link {
  color: #704D9C;
}
.header .menu__link:hover {
  color: #B997E2;
}
.header .menu__link:active {
  color: #5A4773;
}
.header .social__link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .social__svg path {
  transition: fill 0.4s ease;
  fill: #704D9C;
}
.header .social__svg:hover path {
  fill: #B997E2;
}
.header .social__svg:active path {
  fill: #5A4773;
}
.header .social__svg path {
  transition: all 0.4s ease;
}

.about .grid {
  align-items: stretch;
  justify-items: stretch;
}
.about__title {
  margin-bottom: 0.1666666667em;
}
.about__subtitle {
  font-size: 1.25rem;
  margin-bottom: 1.3em;
}
.about__title, .about__subtitle {
  grid-column: 1/13;
  text-align: center;
}
.about .info {
  background-color: #fff;
  border-radius: 25px;
  grid-column: 1/7;
  padding: 24px;
  font-size: 1.125rem;
}
.about .info__title {
  margin-bottom: 0.2222222222em;
}
.about .info__title:nth-of-type(even) {
  margin-top: 0.8333333333em;
}
.about .info__address {
  display: block;
  margin-bottom: 0.6666666667em;
}
.about .info__address {
  color: #704D9C;
}
.about .info__address:hover {
  color: #B997E2;
}
.about .info__address:active {
  color: #5A4773;
}
.about .info__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .timetable {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.about .timetable > *:nth-child(even) {
  text-align: right;
}
.about__map {
  border-radius: 25px;
  grid-column: 7/13;
}

.discount .grid {
  align-items: center;
  justify-items: left;
}
.discount__title {
  justify-self: center;
  margin-bottom: 0.95em;
  grid-column: 1/13;
}
.discount__subtitle {
  font-weight: 500;
  grid-column: 2/7;
}
.discount__desc {
  grid-column: 2/7;
}
.discount__order {
  align-self: end;
  grid-column: 2/7;
}
.discount .timer {
  display: flex;
  gap: 1.7em;
  justify-self: right;
  grid-column: 7/12;
  grid-row: 2/5;
}
.discount .timer__field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discount .timer__count {
  width: 86px;
  background-color: #fff;
  font-weight: 500;
  font-size: 48px;
  padding: 20px 14px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discount .timer__label {
  margin-top: 3px;
}

.works__title {
  margin-bottom: 0.1666666667em;
}
.works__subtitle {
  font-size: 1.25rem;
  margin-bottom: 1.3em;
}
.works__title, .works__subtitle {
  text-align: center;
}
.works .slider {
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.works .slider__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 20px 50px;
}
.works .slider__desc {
  margin: 1em 0 1.5em;
}
.works .slider__img {
  width: 50%;
}

.how__title {
  margin-bottom: 0.1666666667em;
}
.how__subtitle {
  font-size: 1.25rem;
  margin-bottom: 2.5em;
}
.how__title, .how__subtitle {
  text-align: center;
}
.how__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  justify-content: center;
}
.how__item {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}
.how__item .how__pic {
  font-size: 2.5rem;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  line-height: 90px;
}
.how__item:nth-of-type(1) .how__pic {
  color: #CBB9E2;
}
.how__item:nth-of-type(2) .how__pic {
  color: #B997E2;
}
.how__item:nth-of-type(3) .how__pic {
  color: #704D9C;
}
.how__item:nth-of-type(4) .how__pic {
  color: #5A4773;
}
.how__item:nth-of-type(5) .how__pic {
  color: #391763;
}
.how__text {
  text-align: center;
  margin-top: 0.8125em;
  max-width: 228px;
}

.footer {
  padding: 120px 0 40px;
}
.footer__about {
  display: block;
  text-align: center;
}

.check__title {
  text-align: center;
  margin-bottom: 1.3333333333em;
}
.check .check-form {
  margin: 0 auto;
  max-width: 545px;
}
.check .check-form__tile {
  display: flex;
  flex-direction: column;
  padding: 12px 30px 20px;
}
.check .check-form__label:not(:first-of-type) {
  margin-top: 18px;
}
.check .check-form__title {
  margin-bottom: 10px;
  text-align: center;
}
.check .check-form__btn {
  margin-top: 22px;
}

.result__title {
  text-align: center;
  margin-bottom: 1.3333333333em;
}
.result .tile {
  margin: 0 auto;
  max-width: 545px;
  padding: 12px 30px 20px;
  display: grid;
  font-size: 1.25rem;
  grid-template-columns: 1fr 1fr;
}
.result .tile__title {
  grid-column: 1/3;
  text-align: center;
  margin-bottom: 9px;
}
.result .tile__img {
  grid-column: 1/2;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 260px;
}
.result .tile__list {
  list-style: none;
  grid-column: 2/3;
  align-self: center;
}
.result .tile__item:not(:first-of-type) {
  margin-top: 25px;
}
.result .tile__about {
  grid-column: 1/3;
  text-align: center;
  margin: 20px 0;
}
.result .tile__btn {
  grid-column: 1/3;
  text-align: center;
}
.result .tile span {
  display: block;
  font-weight: 600;
}

.order__title {
  text-align: center;
  margin-bottom: 1.3333333333em;
}
.order .order-form__tile {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 12px 16px 20px;
  background-color: #fff;
  border-radius: 30px;
}
.order .order-form__tile:nth-of-type(1) {
  grid-column: 1/5;
}
.order .order-form__tile:nth-of-type(2) {
  grid-column: 5/9;
}
.order .order-form__tile:nth-of-type(3) {
  grid-column: 9/13;
}
.order .order-form__label:not(:first-of-type) {
  margin-top: 18px;
}
.order .order-form__title {
  text-align: center;
  margin-bottom: 10px;
}
.order .order-form__img {
  margin-top: 10px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.order .order-form__btn {
  margin: auto 0 0;
}

.thanks {
  text-align: center;
}
.thanks__title {
  text-align: center;
  margin-bottom: 1.3333333333em;
}
.thanks .tile {
  margin: 0 auto;
  max-width: 545px;
  padding: 12px 30px 20px;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}
.thanks .tile__title, .thanks .tile__subtitle {
  margin-bottom: 9px;
}
.thanks .tile__img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 260px;
}
.thanks .tile__about {
  margin: 20px 0;
}
.thanks .tile span {
  display: block;
  font-weight: 600;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-form {
  width: 545px;
}
.modal__tile {
  display: flex;
  flex-direction: column;
  padding: 12px 30px 20px;
}
.modal__title {
  margin-bottom: 10px;
  text-align: center;
}
.modal__label:not(:first-of-type) {
  margin-top: 18px;
}
.modal__btn {
  margin-top: 22px;
}

@media (max-width: 1199px) {
  .container {
    width: 940px;
  }
  section {
    padding-top: 68px;
  }
  .discount__subtitle {
    grid-column: 1/7;
  }
  .discount__desc {
    grid-column: 1/7;
  }
  .discount__order {
    grid-column: 1/7;
  }
  .discount .timer {
    grid-column: 7/13;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 15px;
  }
  .container {
    width: 720px;
  }
  .about .info {
    grid-column: 2/12;
  }
  .about__map {
    margin-top: 1.875rem;
    grid-column: 2/12;
    height: 280px;
  }
  .discount .discount__title {
    margin-bottom: 0.1666666667em;
  }
  .discount__subtitle {
    grid-column: 1/13;
    grid-row-start: 3;
    justify-self: center;
  }
  .discount__desc {
    grid-column: 1/13;
    grid-row-start: 2;
    justify-self: center;
    font-size: 1.25rem;
    margin-bottom: 1.3em;
  }
  .discount__order {
    justify-self: center;
    grid-column: 1/13;
  }
  .discount .timer {
    grid-row-start: 4;
    grid-column: 1/13;
    justify-self: center;
    margin: 1.2rem;
  }
  .works .slider__info {
    padding-left: 36px;
  }
  .how__item {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .order .order-form {
    row-gap: 1.375rem;
  }
  .order .order-form__tile:nth-of-type(1) {
    grid-column: 1/7;
  }
  .order .order-form__tile:nth-of-type(2) {
    grid-column: 7/13;
  }
  .order .order-form__tile:nth-of-type(3) {
    grid-column: 4/10;
  }
  .order .order-form__btn {
    margin-top: 1.2rem;
  }
}
@media (max-width: 767px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 90%;
  }
}/*# sourceMappingURL=main.css.map */