@use 'sass:math';
@import '../../../../../styles/variables';

.error {
    &__title {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        line-height: 1.4em;
        margin-bottom: math.div(64, 48) * 1em;
    }

    &__code {
        display: flex;
        align-items: center;

        &::after {
            content: '';
            display: block;
            width: 2px;
            height: 1.4em;
            background-color: $purple;
            margin: 0 0.3em;
        }
    }

    &__name {
        font-weight: 400;
        font-size: 0.8em;
    }

    &__card {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__imgWrapper {
        width: 100%;
        height: 200px;
    }

    &__img {
        object-fit: contain;
    }

    &__desc {
        text-align: center;
        font-size: 1.3em;
        margin: 1em 0;
    }
}
